<h1>Add a new Order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderDate">Order Date</label>
  <input id="orderDate" name="orderDate" type="text">
  <button type="submit">Add Order</button>
</form>