<h1>Vendor Order Details:</h1>

<h2>@Model["order"].Date</h2>

<h2>Vendor: @Model["vendor"].Name</h2>

<a href="/vendors/@Model["vendor"].Id/orders/@Model["order"].Id">Cancel Order</a>

<a href="/vendors/@Model["vendor"].Id/orders/new">Add another Order</a>

<a href="/vendors">View all Vendors</a>